*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(19, 126, 19);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    text-align: center;
    margin-top: 2rem;
    color: goldenrod;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 5rem;
}
p{
    text-align: center;
    margin-top: 3rem;
    color:rgb(255, 251, 251);
    font-size: 2rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: bold;
}
button{
    margin-top: 2rem;
    width: 30rem;
    height: 4rem;
    background-color: goldenrod;
    border: none;
    font-size: 3rem;
    letter-spacing: 5px;
    text-align: center;
    color: green;
    border-radius: 5px;
}